* {
  box-sizing: border-box;
}
body {
    margin: 0;
    font-size: 1rem;
    line-height: 1.5;
}

header{
    color: black;
    text-align: center;
}

video{

    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    
    visibility: visible;
    opacity: 0.4;
}